@media(max-width:600px) {
    h1 {
        font-size: 3.5rem;
    }
    .upper-box {
        width: 85vw;
        height: 40vw;
    }
    .box {
        width: 85vw;
        height: 40vw;
    }
    .game-box {
        margin-left: 10vw;
        height: 40vh;
    }
    .start-btn {
        margin-left: 10rem;
    }
}