@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Jersey+15&family=Madimi+One&family=Poppins:wght@400;700&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stylish&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: rgb(33, 34, 77);
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.game-box {
    height: 80vh;
    width: 50vw;
    margin-left: 30vw;
    gap: 30px;
    margin-top: 20px;
}

.upper-box {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    gap: 30px;
    margin-bottom: 20px;
    /* height: 20vw; */
}

.box {
    border: 7px solid rgb(0, 0, 0);
    width: 20vw;
    height: 16vw;
    border-radius: 30px;
}

.green {
    background: rgb(8, 188, 8);
}

.red {
    background: red;
}

.blue {
    background: navy;
}

.yellow {
    background: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.start-btn {
    margin-top: 1rem;
    width: 10rem;
    height: 2.9rem;
    margin-left: 14rem;
    background: crimson;
    font-size: 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 1, 0.2, .5);
}